:root {
  --brand-primary: #9747ff;
  --brand-primary-section: #53389e;
  --brand-solid-alt: #7f56d9;

  --textbox-bg: #ffffff;
  --textbox-fg: #667085;
  --textbox-border: #d0d5dd;

  --button-primary-bg: #7f56d9;
  --button-primary-fg: #ffffff;
  --button-primary-border: #7f56d9;
  --button-secondary-bg: #ffffff;
  --button-secondary-fg: #344054;
  --button-secondary-border: #d0d5dd;
  --button-tertiary-fg: #475467;

  --bg-primary: #ffffff;
  --text-primary: #101828;
  --text-secondary: #344054;
  --text-tertiary: #475467;
  --text-brand-primary: #ffffff;
  --text-brand-secondary: #6941c6;
  --text-brand-tertiary: #e9d7fe;
  --text-brand-quarterary: #d6bbfb;
}
